/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --klean-blue: #00378F;
    --klean-wood: #401711;
    --klean-air: #F5F5F5;
    --klair-green: #B3ECAC;
    --klair-green: #9CCCE7;
}

/* POLICES */
html{
    font-size: 10px;
}

body{
    font-family: 'Antic', Verdana, Helvetica, sans-serif;
}

h1{
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 6rem;
}

h2{
    font-size: 5rem;
}

h3{
    font-size: 4.5rem;
}
